In [1]:
a=10
print(a)

10

In [2]:
print(1)

1

In [3]:
1+1

2

In [4]:
type(a)

int

In [5]:
str="hello"

In [6]:
type(str)

str

In [7]:
ctr=10.2
type(ctr)

float

In [8]:
ctr=1+5J
type(str)

complex

In [9]:
ctr.real

1.0

In [10]:
ctr.imag

5.0

In [17]:
# this is comment
"""th
is
mutiple
line
coment"""

True + True

2

In [1]:
s="hello t's"

In [2]:
print(s)

hello t's

In [3]:
s="ineuron"
print(s[0])

i

In [4]:
id(s)

371593679664

In [5]:
s[-1]

'n'

In [6]:
s[12]

IndexError: string index out of range

In [8]:
s[0:5:2]

'ier'

In [9]:
s[0:5:-1]

''

In [10]:
s[5:0:-1]

'oruen'

In [11]:
s[::-1]  
# string reversing

'norueni'

In [17]:
c=[]
c
type(c)
s=list()
s
type(s)

list

In [22]:
#Homogenous means same type of data called list
c=[1,3,4,6,78]  
c=[1,"hello",45]   #hetrogenus means differnt data type stored together  its called list
c
type(c)

list

In [34]:
c=[1,3,'sud',5+8j,True,[4,5,6,'fdfs']]  #this alla re called list slicing
type(c)
c[-1]
c[-1][3]
c[0:5]
c[-1:-5]  #No data since by default if we donâ€™t give step its stpe 1 whuch is postive

#So starting from -1 go to -5 and then take step to postive is not possble so empty list will get
c[-1:-5:-1]
c[-1:-5:-2]

[[4, 5, 6, 'fdfs'], (5+8j)]

In [35]:
a="aditya vardhan"
a[0:-5:1]

'aditya va'

In [1]:
s="sudh"
s+str(1)

'sudh1'

In [2]:
s*10

'sudhsudhsudhsudhsudhsudhsudhsudhsudhsudh'

In [3]:
[1,3,5,"sudh"] *3

[1, 3, 5, 'sudh', 1, 3, 5, 'sudh', 1, 3, 5, 'sudh']

In [4]:
s.upper()

'SUDH'

In [5]:
s.split(u)

NameError: name 'u' is not defined

In [6]:
a="My name is prince"
a.split()

['My', 'name', 'is', 'prince']

In [8]:
a="sudh@kumar@my@name"
a.split("@")

['sudh', 'kumar', 'my', 'name']

In [12]:
a="sudhafsfsf"
a.split('a')

['sudh', 'fsfsf']

In [13]:
a.partition('a')

('sudh', 'a', 'fsfsf')

In [19]:
b='sudfAhfhfAfnfnfnAAAA'
b.split('A')

['sudf', 'hfhf', 'fnfnfn', '', '', '', '']

In [15]:
a.partition('A')

('sudf', 'A', 'hfhfAfnfnfnAAAA')

In [16]:
type(a)

str

In [17]:
type(a.split('A'))

list

In [20]:
b='sudfAhfhfAfnfnfnAAAA'
type(b.partition('A'))

tuple

In [22]:
d="shshsjadkkdkdadnnd"
d.find('a') #0123456

6

In [23]:
d.find('Z')

-1

In [24]:
f="sudh"
f.center(50,'V')

'VVVVVVVVVVVVVVVVVVVVVVVsudhVVVVVVVVVVVVVVVVVVVVVVV'

In [25]:
f.center(50,'VA')

TypeError: The fill character must be exactly one character long

In [26]:
"Sudh\tKyumar".split('\t')

['Sudh', 'Kyumar']

In [28]:
"Sudh\tKyumar\tn".expandtabs()

'Sudh    Kyumar  n'

In [31]:
" my name is {} prince".format("K B")  # Placeholder

' my name is K B prince'

In [33]:
s=input("Please enter name")
"my nameis {}".format(s)

Please enter nameddd

'my nameis ddd'

In [35]:
s1=input("Please enter first name")
s2=input("Please enter second name")
"My name is {} {}".format(s1,s2)

Please enter first namefff
Please enter second namefff

'My name is fff fff'

In [36]:
s="hello"
s.isalnum()

True

In [37]:
s="2345fdgd"
s.isalnum()

True

In [38]:
s.isalpha()

False

In [39]:
s.islower()

True

In [40]:
s.istitle()

False

In [41]:
s="Hjfk"
s.istitle()

True

In [42]:
s.endswith("d")

False

In [43]:
s.endswith("k")

True

In [44]:
len(s)

4

In [45]:
print(s)

Hjfk

In [46]:
s

'Hjfk'

In [47]:
a=[1,2,3,4,5,"hello","sudh",4,56,[3,4,5]]
m=[]
for i in a :
    m.append(i)
m

[1, 2, 3, 4, 5, 'hello', 'sudh', 4, 56, [3, 4, 5]]

In [48]:
b=[4,6,67,8,"My",'name']
a+b

[1, 2, 3, 4, 5, 'hello', 'sudh', 4, 56, [3, 4, 5], 4, 6, 67, 8, 'My', 'name']

In [49]:
(a+b)*2

[1,
 2,
 3,
 4,
 5,
 'hello',
 'sudh',
 4,
 56,
 [3, 4, 5],
 4,
 6,
 67,
 8,
 'My',
 'name',
 1,
 2,
 3,
 4,
 5,
 'hello',
 'sudh',
 4,
 56,
 [3, 4, 5],
 4,
 6,
 67,
 8,
 'My',
 'name']

In [52]:
list(34)

TypeError: 'int' object is not iterable

In [54]:
list([34])

[34]

In [56]:
b.append("shshd")   # will nsert in last postion
b

[4, 6, 67, 8, 'My', 'name', 'shshd', 'shshd']

In [57]:
b.insert(3,"sfa")  # will insert object befor the given index 
b

[4, 6, 67, 'sfa', 8, 'My', 'name', 'shshd', 'shshd']

In [58]:
b.pop()   # from last it illl remove element

'shshd'

In [59]:
b

[4, 6, 67, 'sfa', 8, 'My', 'name', 'shshd']

In [60]:
b.pop(2)
b

[4, 6, 'sfa', 8, 'My', 'name', 'shshd']

In [61]:
b[::-1]

['shshd', 'name', 'My', 8, 'sfa', 6, 4]

In [63]:
b.reverse()  #its permenent 
b

[4, 6, 'sfa', 8, 'My', 'name', 'shshd']

In [64]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
n=[3,4,5,8,9,5]
n.sort()

In [66]:
n

[3, 4, 5, 5, 8, 9]

In [67]:
#tuple(),set(),dictionary(),function(),Lambda(),iterator,generator,mapper,reduce,filter will learn

m

[1, 2, 3, 4, 5, 'hello', 'sudh', 4, 56, [3, 4, 5]]

In [70]:
for i in m :
    if i == 4:
        m.remove(4)
    elif type(i) == list:
        i.remove(4)
    else:
        print("not able to remove aningyth")
        
m

not able to remove aningyth
not able to remove aningyth
not able to remove aningyth
not able to remove aningyth
not able to remove aningyth

[1, 2, 3, 5, 'hello', 'sudh', 56, [3, 5]]

In [71]:
m

[1, 2, 3, 5, 'hello', 'sudh', 56, [3, 5]]

In [73]:
s="hello"
s
s[0]="i"

TypeError: 'str' object does not support item assignment

In [75]:
#string is not immutable as s[o]="i" it will not allow to assign the string at that position 
# list is immutable as it will allow to insert data ta specify positon
# tuple is immutable
l=[3,5,6,7]
l
l[0]=2
l

[2, 5, 6, 7]

In [89]:
m=[1,2,3,4,5,7]
x=[]
for i in x: 
    if x==7:
        m.append(i)
print(m)    

  
for i in m:
    if i == 4:
        m.remove(4)
    elif type(i) == list:
        i.remove(4)
    else:
        print("not able to remove aningyth")
        
m

[]

In [6]:


if x//7==0:
    print(x//y)
else:
    print("no")

no

In [13]:
x=2000
y=3201
m=[]
print(range(x,y))
#m=m.append(range(x,y))

range(2000, 3201)

In [10]:
print(range(x,y))

range(2000, 3200)

In [15]:
x=2000
y=3201
for i in range(x,y):
    if(x//y==0):
        print(i,end=",")
    else:
        print(y)

2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,

In [19]:
x=2000
y=2200
m=[]
for i in range(x,y):
    if(x/7==0):
        m.append(i)
    else:
        print(y)

2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200
2200

In [30]:
x=2000
y=2200
m=[]
for i in range(x,y):
    m.append(x/7)

In [31]:
print(m)

[285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857, 285.7142857142857]

In [34]:
x=2000
y=2050
m=[]
for i in range(x,y):
    m.append(i/7)

In [35]:
m

[285.7142857142857,
 285.85714285714283,
 286.0,
 286.14285714285717,
 286.2857142857143,
 286.42857142857144,
 286.57142857142856,
 286.7142857142857,
 286.85714285714283,
 287.0,
 287.14285714285717,
 287.2857142857143,
 287.42857142857144,
 287.57142857142856,
 287.7142857142857,
 287.85714285714283,
 288.0,
 288.14285714285717,
 288.2857142857143,
 288.42857142857144,
 288.57142857142856,
 288.7142857142857,
 288.85714285714283,
 289.0,
 289.14285714285717,
 289.2857142857143,
 289.42857142857144,
 289.57142857142856,
 289.7142857142857,
 289.85714285714283,
 290.0,
 290.14285714285717,
 290.2857142857143,
 290.42857142857144,
 290.57142857142856,
 290.7142857142857,
 290.85714285714283,
 291.0,
 291.14285714285717,
 291.2857142857143,
 291.42857142857144,
 291.57142857142856,
 291.7142857142857,
 291.85714285714283,
 292.0,
 292.14285714285717,
 292.2857142857143,
 292.42857142857144,
 292.57142857142856,
 292.7142857142857]

In [44]:
x=2000
y=2010
n=[]
for i in range(x,y):
    if(i/5==1)
        n.append(i)
    else:
        n.append(1)
print(n)

SyntaxError: invalid syntax (<ipython-input-44-82691edc147a>, line 5)

In [45]:
n

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [48]:
range(2000,2010)

range(2000, 2010)

In [49]:
print(range(2000, 2010))

range(2000, 2010)

In [52]:
x = range(6,11,1)
for n in x:
  print(n)

6
7
8
9
10

In [62]:
x = range(2000,2010,1)
for n in x:
    if n/2==0:
        print(n)
    else:
        print(n)

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009

In [65]:
x = range(2000,2010,1)
for n in x:
    if n/2==0:
        print(n)
    else:
        print("o")

o
o
o
o
o
o
o
o
o
o

In [79]:
y=range(2000,3201,1)
m=[]
for i in y:
    if i%7==0 and i%5!=0:
        m.append(i)
print(m)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [80]:
firstname=input("Enter first name")
lastname=input("Enter last name")
name=lastname+" "+firstname

Enter first nameprince
Enter last namekb

In [81]:
print(name)

kb prince

In [83]:
print(reverse(firstname))

NameError: name 'reverse' is not defined

In [89]:
f1=input("Enter first name ")
f2=input("Enter last name ")

f3=f1+" "+f2
print(f3)
f3.reverse()
print(f3)

Enter first name hh
Enter last name gg
hh gg

AttributeError: 'str' object has no attribute 'reverse'

In [90]:
f1=input("Enter first name ")
f2=input("Enter last name ")
m=[]
f3=f1+" "+f2
print(f3)
m.append(f3)
      
m.reverse(" ")
print(m)

Enter first name ppp
Enter last name kkk
ppp kkk
['ppp kkk']

In [91]:
m.reverse
print(m)

TypeError: reverse() takes no arguments (1 given)

In [94]:
m[::-1]
print(m)

['ppp kkk']

In [95]:
f3[::-1]

'kkk ppp'

In [98]:
firstname=input("Enter first name ")
lastname=input("Enter last name ")
name=lastname+" "+firstname
print(name)

Enter first name abc
Enter last name def
def abc

In [108]:
f1=input("Enter first name ")
f2=input("Enter last name ")
m=[f2+" "+f1]
print(m)

Enter first name abc
Enter last name def
['def abc']

In [101]:
m[::-1]
print(m)

['abc def']

In [109]:
f3=[]
f3=f1+" "+f2
print(f3)
f3[::-1]

abc def

'fed cba'

In [110]:
x=[]
x=input("enter values separated by , ")
print(x)

enter values separated by , 1,2,3,5,6,7,8
1,2,3,5,6,7,8

In [135]:
y=list
y=input("enter values separated by , ")
print(y)

enter values separated by , 1,2,4,6,8
1,2,4,6,8

In [133]:
    x=range(0,5,1)
    y=range(5,0,-1)
    for i in x:
        if i<=5:
            print("!"*i)
    for j in y:
        if j>=0:
            print("!"*j)

!
!!
!!!
!!!!
!!!!!
!!!!
!!!
!!
!

In [134]:
    x=range(0,5,1)
    y=range(5,0,-1)
    for i in x:
        if i<=5:
            print("*"*i)
    for j in y:
        if j>=0:
            print("*"*j)

*
**
***
****
*****
****
***
**
*

In [141]:
w=[]
x=[]
w=input("Enter the word ")
x=w[::-1]

print(x)

Enter the word AcadGild
dliGdacA

In [156]:
str1="WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens"
str1.expandtabs()
print(str1)

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens